

nav {
    background-color: rgb(120, 176, 0);
}

a.navbar-brand {
    transition: transform 0.3s ease-in-out;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#navbarSupportedContent ul li a{
    color: whitesmoke;
}

#navbarSupportedContent ul li a:hover{
    color: black;
}

a.navbar-brand:hover {
    transform: scale(1.1);
}

a.navbar-brand > img + span {
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* main {
    background-color: rgb(255, 255, 153);
} */

div.jumbotron {
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(252, 252, 134); */
    border-radius: 10px;
    position: relative;
}

h1.jumbotron_title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 50pt;
    text-shadow: 2px 2px 4px rgba(252, 252, 134);
}

img.jumbotron_logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

div.jumbotron_payoff {
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

div.jumbotron_description {
    text-align: justify;
    font-style: italic;
}

.card-title {
    text-align: center;
}

@media screen and (max-width: 992px) {
    div.jumbotron {
      width: calc(100% - 20px);  
      margin-right: 10px;
      margin-left: 10px;
    }

    h1.jumbotron_title {
        font-size: 40pt;
    }

    div.jumbotron_payoff {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 576px) {
    div.jumbotron {
      width: calc(100% - 10px);  
      margin-right: 5px;
      margin-left: 5px;
    }

    h1.jumbotron_title {
        font-size: 30pt;
    }

    div.jumbotron_payoff {
        font-size: 1.1em;
    }

    img.jumbotron_logo {
        display: none;
    }

    #offertaDellaSettimana + div h5.card-title {
        font-size: 0.9rem;
    }

    #offertaDellaSettimana + div img {
        height: 125px;
    }

    #offertaDellaSettimana + div div.card-body {
        padding-bottom: 10px;
        
    }
}